.card {
    border-radius: 1rem;
    background: var(--White);
    box-shadow: 0 12px 40px -10px rgba(150,170,180,0.5);
    display: flex;
    height: auto;
    width: 55%;
    overflow-y: auto;
    @include mobile {
        flex-direction: column;
        width: 100%;
        height: 80%;
    }
    
    .container-operaciones {
        // border: 1px solid rebeccapurple;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;

        @include mobile {
            width: 100%;
        }

        .box{
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // padding-bottom: 1rem;
        }
    }
    .container-resultados {
        // border: 1px solid rebeccapurple;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 2rem;

        @include mobile {
            width: 100%;
        }

        .wrap{
            background: var(--VeryDarkCyan);
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
        }
    }
}