.container-input-bill{
    display: flex;
    background: var(--LightGrayishcyan);
    width: 100%;
    border-radius: .3rem;
    border:  2px solid transparent;
    // margin-top: .5rem;
    .image-dollar{
        width: 15%;
    }
    .input-bill{
        padding: .5rem;
        background: var(--LightGrayishcyan);
        color: var(--DarkGrayishCyan);
        font-size: 22px;
        font-weight: 700;
        text-align: end;
        width: 85%;
        font-family: 'Space Mono', monospace;
    }
}
.input-custom{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--VeryDarkCyan);
    &::placeholder {
        color: var(--VeryDarkCyan);
    }
}

.border{
    border:  2px solid var(--cyan);
}
