:root{
    --cyan              : hsl(172, 67%, 45%);
    --VeryDarkCyan      : hsl(183, 100%, 15%);
    --DarkGrayishCyan   : hsl(186, 14%, 43%);
    --DarkGrayishCyan2   : hsl(184, 14%, 56%);
    --LightGrayishCyan  : hsl(185, 41%, 84%);
    --LightGrayishcyan  : hsl(189, 41%, 97%);
    --White             : hsl(0, 0%, 100%);
}